body {
    background: radial-gradient(circle, #fff ,#bbb);
    padding: 15px;
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat (auto-fill,minmax(250px,1fr));
}

img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    gap: 10px;
}
